* {
    padding: 0px;
    margin: 0px;
    white-space: normal;
    flex-direction: column;
}

body {
    background-color:rgb(36, 33, 33);
  
}
div {
    
    background:#189264 ;    
    font-family: Arial, Helvetica, sans-serif;
    width: 40cm;
    height: 100%;
    margin: 0 auto;
    padding: x;
    }
div ul {
    text-decoration: none;
}
div ul li {
    text-decoration: none;
}

.menu{ 
    background-image: linear-gradient(rgb(53, 48, 48),#4d4848);
    margin: 0px;    
    border-radius: 5px;
    padding: 0px;
}
#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; 
    width: 1440px;
    float: center;
}
#menu ul li {
    float: right;
    font: 16px arial;
    align-items: center;
    margin-right: 50px;
    border-radius: 6px;
    border-bottom-style: ;
}
#menu ul li a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    padding: 20px;
    display: block;
}
#menu ul li:hover {
    background: rgb(0, 0, 0);
    font-size: auto; 
    border-radius: 6px;

}


.nav { 
    background-image: linear-gradient(rgb(73, 73, 73),#4d4848);
    margin: 0px;    
    border-radius: 5px;
    padding: 0px;
}
#nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; 
    width: 1445px;
    float: center;
}
#nav ul li {
    float: right;    
    font: 16px arial;
}
#nav ul li a {
    color: rgb(7, 7, 7); 
    text-decoration: none;
    padding: 30px;
    display: block;
}
#nav ul li:hover {
    background: rgb(52, 143, 40);
    font-size: 20px; 
    border-radius: 6px;
}


#imagem1{
   
     border: rgb(100, 97, 97);
     width: 100%;
     height: 240px;
     padding: 0px;
     margin: 0 auto;
 
}
#bio {
    text-align: center;
    color: rgb(0, 0, 0);
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);   
}
.link2 {
    text-decoration: none;
    color: rgb(0, 0, 0);   
    text-align: center;
}
.curriculo {
     border: rgb(100, 97, 97);
     width: 30%;
     height: 500px;
     margin-left: 520px;
     float: center;

}
#cursos {
    margin: 0 auto;
    
}
.cursos {
    text-align: center;
    float: center;
}
