
body {
    background: rgb(70, 82, 80);
    font-family: Arial, Helvetica, sans-serif;
  
   
    
}
/*======== LINKED IN =======*/

#linkedIn {
    
    border-radius: 100px;
    margin: 0px;
    padding: 0px;
    margin: 0;

}
/* ====MENU COM ICONES=====*/

#nav { 
    background-image: linear-gradient(#2B5B52,#4d4848);
    margin: 0px;    
    border-radius: 5px;
    padding: 0px;
}
#nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; 
    width: 100%;
    float: left;
}
#nav ul li {
    float: left;
    font: 16px arial;
    list-style : none;
}
#nav ul li a {
    color: #888; 
    text-decoration: none;
    padding: 20px;
    display: block;
}
#nav ul li:hover {
    background: rgb(58, 63, 58);
    font-size: 20px; 
    border-radius: 6px;
}
/*======FIM DO MENU =====*/


/*=====CONTATOS NO RODAPÉ======*/

#contato { 
    background-image: ;
    margin: 0px;
    border-radius: 5px;
    padding: 0px;
}
#contato ul {
    margin: 0px;
    padding: 0px;
    list-style: none; 
    width: 100px;
    float: left;
}
#contato ul li {
    float: left;
    font: 16px arial;
}
#contato ul li a {
    color: #888; 
    text-decoration: none;
    padding: 20px;
    display: block;
}
#contato ul li:hover {
    background: rgb(231, 201, 201);
    border-radius: 6px;
    font-size: 20px; 

}

/*=====FIMM DE CONTATOS NO RODAPÉ======*/

/*========RODAPÉ======*/
footer {
    background: rgb(26, 23, 23);
    border-radius: 6px;
    font-size: 20px; 
    color: rgb(145, 145, 145);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 5px;
}
/* ====WallPaper=====*/

#cabecalho {
  align-items: center;
    background-image: image-set(imagem1);
}
#cabecalho ul {
    margin: 0px;
    padding: 0px;
    list-style: none; 
    width: 100%;
    float: left;
    text-decotarion: none;
    display: block;
}



#cabecalho ul li {
    float: left;
    font: 16px arial;

}
